# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
build

test-vault/.obsidian/workspace
test-vault/.obsidian/plugins/obsidian-svelte-plugin/*.css
test-vault/.obsidian/plugins/obsidian-svelte-plugin/*.js
test-vault/.obsidian/plugins/obsidian-svelte-plugin/*.json

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
